<nav class="navbar navbar-default">

    <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <!--NOTE: if we add to a tag the attribute "href"="/branch", the whole app is reloaded-->
                <li><a routerLink="/add">ADD</a></li>
                <li><a routerLink="/edit">EDIT</a></li>
                <li><a routerLink="/view">VIEW</a></li>
                <li><a routerLink="/delete">DELETE</a></li>
            </ul>
        </div>
    </div>
</nav>